/* Article.css */
.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.article-banner {
  width: 100%;
  height: 25vh;
  background-size: cover;
  background-position: center;
}

.article-content {
  max-width: 800px;
  text-align: left;
  margin-top: 20px;
}

.article-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-body {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.article-authors {
  font-style: italic;
  color: gray;
}
