.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%vw;
    height: 80px;
    padding: 0px 20px;
    background-color: darkred;
    color: white;
  }

  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 15px;
  }
  
  .search-input {
    padding: 10px;
    border-radius: 0px;
    border: none;
    width: 100%;
  }

  .search-input:focus {
    outline: none;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    gap: 15px;
  }
  
  .navbar-right .user-icon {
    cursor: pointer;
  }
  
  .navbar-right .user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  