@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;500;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  background-color: #dcdcdc;
  color: black;
  font-family: 'Noto Kufi Arabic', sans-serif;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 150px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-icon {
  display: block;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-icon:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 96%;
  background-color: #dcdcdc;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  z-index: 100;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease;
}

.links.active {
  z-index: 1000;
  transform: translateY(0);
  opacity: 1;
}

.links .navbar-link {
  border: none;
  font-family: 'Noto Kufi Arabic', sans-serif;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}